name: Deploy Iris Endpoint

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      MODEL_GROUP: iris-model-group
      ENDPOINT_NAME: iris-endpoint

      AWS_REGION: us-east-1
      SAGEMAKER_EXEC_ROLE_ARN: arn:aws:iam::387867038403:role/AqeelIrisSageMakerExecutionRole

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip uninstall -y sagemaker sagemaker-core sagemaker-mlops sagemaker-serve sagemaker-train sagemaker-mlflow || true
          pip install "sagemaker>=2.218.0,<3" "boto3>=1.28.0" "botocore>=1.31.0"
          python -c "import sagemaker, importlib.metadata as m; print('sagemaker:', m.version('sagemaker'))"

      - name: Deploy latest APPROVED model only
        run: |
          python pipelines/deploy.py \
            --region "${{ env.AWS_REGION }}" \
            --execution-role-arn "${{ env.SAGEMAKER_EXEC_ROLE_ARN }}" \
            --model-package-group-name "${{ env.MODEL_GROUP }}" \
            --endpoint-name "${{ env.ENDPOINT_NAME }}" \
            --instance-type "ml.m5.large"
